.button-normal {
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-selected {
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-home {
    transform: translateY(-35px);
    width: 70px !important;
    height: 70px !important;
    border-radius: 35px !important;
    background-color: var(--accent) !important;
}
