@inject IAuthenticationService _authenticationService
@inject NavigationManager _navigationManager
<h3>Home</h3>

@code {
    [Parameter]
    public UserResponseDto? User { get; set; }

    private string icon = "";

    protected override Task OnParametersSetAsync()
    {
        icon = User?.Icon ?? "/img/default.png";
        return base.OnParametersSetAsync();
    }

    private async Task LogoutButtonOnClick()
    {
        await _authenticationService.LogoutAsync();
        _navigationManager.NavigateTo("", true);
    }
}

