@page "/"
@inject HttpClient _http
@using Jashter.Shared.Dto

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<div>@_statusCode</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    private string _statusCode = "";
    protected override async Task OnInitializedAsync()
    {
        LoginDto loginDto = new LoginDto { Username = "test1", Password = "pas" };
        var reponse = await _http.PostAsJsonAsync<LoginDto>("api/login", loginDto);
        LoginResponseDto loginResponseDto = await reponse.Content.ReadFromJsonAsync<LoginResponseDto>();
        _statusCode = loginResponseDto.StatusCode;
        StateHasChanged();
    }
}