@page "/"
@inject HttpClient _http
@using Jashter.Shared.Dto

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<div>@_token</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code {
    private string _token = "";
    protected override async Task OnInitializedAsync()
    {
        LoginDto loginDto = new LoginDto { Username = "test1", Password = "pas" };
        var response = await _http.PostAsJsonAsync<LoginDto>("login", loginDto);
        LoginResponseDto? loginResponseDto = await response.Content.ReadFromJsonAsync<LoginResponseDto>();
        if (loginResponseDto is not null)
        {
            _token = loginResponseDto.Token;
            StateHasChanged();
        }
    }
}