@page "/"
@inject NavigationManager _navigationManager
@inject IUserService _userService
<PageTitle>Jashter</PageTitle>
<div class="p-2 mx-auto d-flex flex-column h-100" style="max-width: 500px;">
    <div class="h-100">
        @switch (selectedIndex)
        {
            case 0:
                <Question></Question>
                break;
            case 3:
                <Home></Home>
                break;
            default:
                <div>Developping now!</div>
                break;
        }
    </div>
    <div class="menu">
        <MenuButton MenuType="0" IsSelected="selectedMenu[0]" OnClick="(() => MenuButtonOnClick(0))"></MenuButton>
        <MenuButton MenuType="1" IsSelected="selectedMenu[1]" OnClick="(() => MenuButtonOnClick(1))"></MenuButton>
        <MenuButton MenuType="2" IsSelected="selectedMenu[2]" OnClick="(() => MenuButtonOnClick(2))"></MenuButton>
        <MenuButton MenuType="3" IsSelected="selectedMenu[3]" OnClick="(() => MenuButtonOnClick(3))"></MenuButton>
    </div>
</div>
@code {
    private bool[] selectedMenu = new bool[] { true, false, false, false };
    private int selectedIndex = 0;
    private UserResponseDto? _user;
    protected override async Task OnInitializedAsync()
    {
        _user = await _userService.GetUserAsync();
        StateHasChanged();
    }

    private void LoginButtonOnClick()
    {
        _navigationManager.NavigateTo("login");
    }

    private void MenuButtonOnClick(int type)
    {
        for (int i = 0; i < selectedMenu.Length; i++)
        {
            selectedMenu[i] = false;
        }
        selectedMenu[type] = true;
        selectedIndex = type;
        StateHasChanged();
    }
}