.profile-icon {
    border-radius: 35px;
    height: 70px;
    width: 70px;
    background-color: var(--accent);
    color: var(--accent-font);
    box-shadow: -6px -6px 12px var(--nf-light), 6px 6px 12px var(--nf-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.title {
    font-size: 32px;
}

.profile-icon > button {
    background-color: transparent;
    outline: none;
    border: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
}