.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-area {
    width: 90%;
    max-width: 300px;
}

h1 {
    margin-bottom: 1rem;
}

.form-input {
    height: 60px;
    margin-top: .5rem;
    position: relative;
}

.label {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    margin: 13px;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.msg-error {
    margin: .5rem;
    padding: .5rem;
    text-align: center;
    color: #CF0713 !important;
    background-color: #FCA6AB !important;
    border-radius: .5rem;
}
