@page "/login"
<form action="/api/login">
    <label>
        Username:
        <input type="text" class="login-username" />
    </label>
    <label>
        Password:
        <input type="password" class="login-password"/>
    </label>
    <input type="submit" value="Sign in" />
</form>
@code {
}

